<div class="content">
  <h1>Explain</h1>

  <%= form_tag explain_path do %>
    <div class="field"><%= text_area_tag :query, @query, placeholder: "Enter a SQL query", style: "height: 250px" %></div>
    <p>
      <%= submit_tag "Explain", class: "btn btn-info", style: "margin-right: 10px;" %>
      <% if @explain_analyze_enabled %>
        <%= submit_tag "Analyze", class: "btn btn-danger", style: "margin-right: 10px;" %>
      <% end %>
      <%= submit_tag "Visualize", class: "btn btn-danger" %>
    </p>
  <% end %>

  <% if @explanation %>
    <% if @visualize %>
      <hr>
      <%= render partial: "pev2", locals: { plan: @explanation } %>
      <hr>
      <details>
        <summary>PEV version 1 instructions</summary>
        <p>Paste the output below into the <%= link_to "explain visualizer", PgHero.visualize_url, target: "_blank" %></p>
        <pre><code><%= @explanation %></code></pre>
      </details>
    <% else %>
      <pre><code><%= @explanation %></code></pre>
    <% end %>
    <% unless @visualize %>
      <p><%= link_to "See how to interpret this", "https://www.postgresql.org/docs/current/static/using-explain.html", target: "_blank" %></p>
    <% end %>
    <% if (index = @suggested_index) %>
      <%= render partial: "suggested_index", locals: {index: index, details: index[:details]} %>
    <% end %>
  <% elsif @error %>
    <div class="alert alert-danger"><%= @error %></div>
  <% end %>
</div>
